<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
    <p>
            Me llamo Julieta Sotelo, tengo 20 años y soy de Mendoza, Argentina. Estudio la <strong>Tecnicatura Superior en Desarrollo de Software </strong> en el Instituto de Educación Superior 9-012 - San Rafael en informática.
    </p>
    
    <p>
        Siempre estoy buscando oportunidades para <strong>crecer</strong> como profesional y prepararme para el mundo laboral.
    </p>
    
    <p>
        <strong>Estudie Ingles en Instituto The House y obtuve un nivel B2</strong>. 
    </p>

    <p class="text-pretty">
        Todos los días continúo desarrollando mis habilidades, participando en proyectos y haciendo cursos que me permitan <strong>aprender y crecer</strong> como programador. 
    </p>
</div>
<img src="/home/juli/Escritorio/Portfolio/JuuSotelo.github.io/public/projects/WhatsApp Image 2025-04-05 at 17.58.41.jpeg" alt="yo" class="rounded-full size-64">
</section>